#projects {
    background-color: #e2edff;
}

section {
    margin-top: 0px;
}

.nav-link {
    color : #fff;
}

.white {
    color : #fff !important ;
    }

.jumbotron {
    background-color: #e2edff;
}